<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Edit User</title>
  </head>
  <body>
    <% if (message) {%>
    <div class="message">
      <ul>
        <% message.forEach((mess) => { %>
          <li><%= mess %></li>
        <% }) %>
      </ul>
    </div>
    <% } %>
    <h1>Cookmaster - Editar usuário</h1>
    <form action="/me/edit" method="POST">
      <label for="emailInput">Email</label>
      <input type="text" name="email" id="emailInput" data-testid="email" value="<%= user.email %>" required/><br />
      <label for="passwordInput">Senha</label>
      <input type="password" name="password" id="passwordInput" data-testid="senha" value="<%= user.password %>" required/><br />
      <label for="passwordInput">Confirmar Senha</label>
      <input type="password" name="confirmPassword" id="passwordInput" data-testid="confirmar-senha" required/><br />
      <label for="nameInput">Nome</label>
      <input type="text" name="name" id="nameInput" data-testid="nome" value="<%= user.name %>" required/><br />
      <label for="lastNameInput">Sobrenome</label>
      <input type="text" name="lastName" id="lastNameInput" data-testid="sobrenome" value="<%= user.lastName %>" required/><br />
      <button type="button">Cancelar</button>
      <button type="submit" data-testid="salvar">Salvar</button>
    </form>
  </body>
</html>
