<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Usuário</title>
</head>
<body>
  <% if (message) {%>
    <div class="message"><%= message %></div>
  <% } %>
  <h1>Editar Usuário</h1>
  <form action="/me/edit" method="POST">
    <label for="emailInput">Email</label>
    <input type="text" name="email" id="emailInput" data-testid="email" value="<%= user.email %>" required/><br />
    <label for="passwordInput">Senha</label>
    <input type="password" name="password" id="passwordInput" data-testid="senha" value="<%= user.password %>" required/><br />
    <label for="passwordInput">Confirmar Senha</label>
    <input type="password" name="passwordCheck" id="passwordInput" data-testid="confirmar-senha" required/><br />
    <label for="nameInput">Nome</label>
    <input type="text" name="firstName" id="nameInput" data-testid="nome" value="<%= user.firstName %>" required/><br />
    <label for="lastNameInput">Sobrenome</label>
    <input type="text" name="lastName" id="lastNameInput" data-testid="sobrenome" value="<%= user.lastName %>" required/><br />
    <button type="button">Cancelar</button>
    <button type="submit" data-testid="salvar">Salvar</button>
  </form>
</body>
</html>
