<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deletar Receita</title>
  </head>
  <body>
    <% if(user)%><span>Usuário logado: <%=user.name%></span>
    <% if (message) %><span><%=message + '.' %></span>
    <h1>Confirme a exclusão da receita</h1>
    <form action="/recipes/<%=id%>/delete" method="POST">
      <label for="password">Senha</label>
      <input data-testid="senha" type="password" name="password" id="pass" />
      <input type="hidden" id="confirm" value="<%=pass%>" />
      <button data-testid="cancelar" onclick="cancel()" type="button">Cancelar</button>
      <button data-testid="confirmar" onclick="delet()" type="button" id="del">Confirmar</button>
    </form>
  </body>
  <script>
    function delet() {
      let word = document.querySelector('#pass').value;
      let check = document.querySelector('#confirm').value;
      if (word === check) document.querySelector('#del').type = 'submit';
      if (word !== check) location.href = '/recipes/<%=id%>/delete?message=Senha%20Incorreta';
    }

    function cancel() {
      location.href = '/recipes/<%=id%>';
    }
  </script>
</html>
