<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Edit User</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="container-sm mt-5">
        <h2>Cookmaster - Cadastro</h2>
        <% if (message) {%>
        <p class="message"><%= message %></p>
        <% } %>
        <form action="/me/edit" method="POST">
          <input value="<%= userData.id %>" name="id" type="hidden" />
          <div class="form-group">
            <label for="email">Email</label>
            <input
              value="<%= userData.email %>"
              name="email"
              data-testid="email"
              type="email"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input
              value="<%= userData.password %>"
              required
              data-testid="senha"
              type="password"
              class="form-control"
              name="senha"
            />
          </div>
          <div class="form-group">
            <label for="confirmarSenha">Confirma Senha</label>
            <input
              value="<%= userData.password %>"
              required
              name="confirmarSenha"
              data-testid="confirmar-senha"
              type="password"
              class="form-control"
              id="confirmarSenha"
            />
          </div>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input
              value="<%= userData.firstName %>"
              required
              data-testid="nome"
              name="nome"
              type="text"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="Sobrenome">Sobrenome</label>
            <input
              value="<%= userData.lastName %>"
              required
              data-testid="sobrenome"
              name="sobrenome"
              type="text"
              class="form-control"
            />
          </div>
          <a class="btn btn-outline-danger my-2 my-sm-0" href="/">Cancelar</a>
          <button
            data-testid="salvar"
            class="btn btn-outline-success my-2 my-sm-0 float-right"
            type="submit"
            class="btn btn-primary"
          >
            Salvar
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
