<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar usuário</title>
  </head>

  <body>
    <% if (message) {%>
    <div class="message"><%= message %></div>
    <% } %>
    <form action="/me" method="POST">
      <label for="email">Email: </label>
      <input type="text" name="email" id="email" data-testid="email" value="<%= userId.email %>" /><br>
      <label for="password">Senha: </label>
      <input
        type="password"
        name="password"
        id="password"
        data-testid="senha"
        value="<%= userId.password %>"
      /><br>
      <label for="confirmPassword">Confirmar Senha: </label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        data-testid="confirmar-senha"
        value="<%= userId.password %>"
      /><br>
      <label for="name">Nome: </label>
      <input type="text" name="name" id="name" data-testid="nome" value="<%= userId.name %>" /><br>
      <label for="lastName">Sobrenome: </label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        data-testid="sobrenome"
        value="<%= userId.lastName %>"
      /><br><br>
      <button type="button" onclick="window.location.pathname='/'">Cancelar</button>
      <button type="submit" data-testid="salvar">Salvar</button>
    </form>
  </body>
</html>