<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Cadastro</title>
  </head>
  <body class="text-center">
    <form class="form-singin p-5 m-5" action="/me/edit" method="POST">
      <% if (message) {%>
      <div class="message"><%= message %></div>
      <% } %>
      <h1 class="h3 mb-3 font-weight-normal">Editar usuario</h1>
      <label class="sr-only" for="emailInput">Email</label>
      <input
        value="<%= user.email %>"
        class="form-control m-1"
        placeholder="Email"
        required
        data-testid="email"
        name="emailInput"
        id="email"
      />
      <label class="sr-only" for="passwordInput">Senha</label>
      <input
        value="<%= user.password %>"
        class="form-control m-1"
        placeholder="Senha"
        required
        data-testid="senha"
        name="passwordInput"
        id="password"
      />
      <label class="sr-only" for="passwordConfirmInput">Confirmar senha</label>
      <input
        class="form-control m-1"
        placeholder="Confrimar Senha"
        required
        data-testid="confirmar-senha"
        name="passwordConfirmInput"
        id="passwordConfirm"
      />
      <label class="sr-only" for="firstNameInput">Nome</label>
      <input
        value="<%= user.firstName %>"
        placeholder="Nome"
        class="form-control m-1"
        required
        data-testid="nome"
        name="firstNameInput"
        id="firstName"
      />
      <label class="sr-only" for="lastNameInput">Sobrenome</label>
      <input
        value="<%= user.lastName %>"
        placeholder="Sobrenome"
        class="form-control m-1"
        required
        data-testid="sobrenome"
        name="lastNameInput"
        id="lastName"
      />
      <a data-testid="login" href="/login">Login</a>
      <button data-testid="salvar" class="btn btn-lg btn-block btn-primary" type="submit">
        Salvar
      </button>
    </form>
  </body>
</html>
