<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div>
      <h1>Cookmaster</h1>
      <% if (!user) { %>
      <a data-testid="login" href="/login">Login</a>
      <% } else { %>
      <a data-testid="nova-receita" href="/">Nova Receita</a>
      <a data-testid="logout" href="/">Logout</a>
      <% } %>
      <a data-testid="buscar-receita" data-testid="buscar-receita">Buscar Receita</a>
      <h2>Receitas</h2>
      <ul>
        <% recipe.forEach((recipe) => { %>
        <li><%= recipe.name %></li>
        <li><%= recipe.user %></li>
        <a href="/recipes/<%= recipe.id%>">Ver mais</a>
        <% }) %>
      </ul>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
