<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=w, initial-scale=1.0">
  <title>Editar conta</title>
</head>
<body>
  <form action="/me/edit" method="POST">
    <label for="emailInput">Email: </label>
    <input type="text" name="email" id="emailInput" data-testid="email" value="<%= user.email %>"/><br />
    <label for="passwordInput">Senha: </label>
    <input type="password" name="password" id="passwordInput" data-testid="senha" value="<%= user.password %>"/><br />
    <label for="confirmPasswordInput">Confirmar Senha: </label>
    <input type="password" name="confirmPassword" id="confirmPasswordInput" data-testid="confirmar-senha" /><br />
    <% if (message) { %>
      <p><%= message %></p>
    <% } %>
    <label for="firstNameInput">Nome</label>
    <input type="text" name="firstName" id="firstNameInput" data-testid="nome" value="<%= user.firstName %>"/><br/>
    <label for="lastNameInput">Sobrenome</label>
    <input type="text" name="lastName" id="lastNameInput" data-testid="sobrenome" value="<%= user.lastName %>"/><br/>
    <button type="button" onclick="window.location.pathname='/'">Cancelar</button>
    <button type="submit" data-testid="salvar">Salvar</button>
  </form>
</body>
</html>
