<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minhas receitas</title>
  </head>
  <body>
    <header>
      <div>
        <h3>Cookmaster</h3>
      </div>
      <div>
        <% if (!usuario) { %>
        <br /><a data-testid="login" href="/login">Login</a>
        <% } else { %>
        <a data-testid="logout" href="/logout">Logout</a>
        <span><%= usuario.first_name %> <%= usuario.last_name %></span>
        <% } %>
      </div>
    </header>
    <section>
      <div>
        <div>
          <h1>Minhas Receitas</h1>
        </div>
        <div>
          <span>Usuario possui <%= receitas.length %> receitas cadastradas</span>
        </div>
      </div>
      <div>
        <div>
          <% if(usuario) { %>
          <a data-testid="nova-receita" href="/recipes/new">Nova Receita</a>
          <% } %>
        </div>
      </div>
    </section>
    <section>
      <% receitas.forEach((receita) => { %>
      <div>
        <h4><%= receita.name %></h4>
        <h5><%= receita.user %></h5>
        <a href="/recipes/<%= receita.id %>">Ver mais</a>
      </div>
      <% }) %>
    </section>
  </body>
</html>
