<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Home</title>
  </head>
  <body class="m-4 border border-secondary p-1">
    <div class="navbar navbar-expand-lg navbar-light bg-dark rounded m-1">
      <header class="collapse navbar-collapse">
        <h3 class="navbar-brand col text-light">Cookmaster</h3>
        <% if(user){%>
        <h5><%= `${user.firstName} ${user.lastName}`%></h5>
        <a data-testid="logout" class="btn btn-light" href="/logout">Logout</a>
        <%} else {%>
        <a data-testid="login" class="btn btn-light" href="/login">Login</a>
        <% }%>
      </header>
    </div>
    <div>
      <h1 class="card-title"><%= recipe.name %></h1>
      <h6 class="card-title"><%= recipe.user %></h6>
      <% if(user && user.id === recipe.userId) { %>
      <a data-testid="editar-receita" class="btn btn-light" href="<%=recipe.id%>/edit">editar</a>
      <a data-testid="excluir-receita" class="btn btn-light" href="<%=recipe.id%>/delete">excluir</a>
      <% } %>
    </div>
    <h5 class="card-subtitle mb-2 text-muted">Ingredientes</h5>
    <ol class="list-group">
      <% recipe.ingredients.split(",").map((result) => { %>
      <li class="list-group-item"><%= result %></li>
      <% }) %>
    </ol>
    <h3 class="card-subtitle mb-2 text-muted m-1">Mode de preparo</h3>
    <p class="card-text"><%= recipe.instructions %></p>
  </body>
</html>
