<html lang="en">
<%- include("./partials/head.ejs") %>
</head>
<body>
  <div>
    <h2> <%= theRecipe.user %> </h2>
    <h2> <%= theRecipe.name %> </h2>
    <h2> <%= theRecipe.ingredients %> </h2>
    <h2> <%= theRecipe.instructions %> </h2>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>
