<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Details</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div><%- include('./header.ejs', { user }); %></div>
    <div>
      <h1>Receitas</h1>
      <div>
        <div>
          <% if (user) { %>
          <a href="/recipe/<%= details.id%>/edit" data-testid="editar-receita" class="btn btn-primary">Editar Receita</a>
          <a href="/recipe/<%= details.id%>/delete" class="btn btn-primary" data-testid="excluir-receita">Excluir Receita</a>
          <% } %>
          <h5 class="card-title"><%= details.name %></h5>
          <p class="card-text">Enviada por <%= details.user %></p>
          <p>Ingredientes</p>
          <p class="card-text"><%= details.ingredients %></p>
          <p>Modo de Preparo</p>
          <p class="card-text"><%= details.instructions %></p>
        </div>
      </div>
    </div>
  </body>
</html>
