<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cookmaster - Home</title>
</head>

<body>
  <h1><%= recipe.title %></h1>
  <% if (isRecipeCreator) { %>
  <a data-testid="editar-receita" href=<%= `/recipes/${recipe.id}/edit` %>>Editar Receita</a>
  <a data-testid="excluir-receita" href=<%= `/recipes/${recipe.id}/delete` %>>Excluir Receita</a>
  <% } %>
  <a data-testid="login" href="/login">Login</a>
  <ul>
    <h2>Ingredientes</h2>
    <% recipe.ingredients.forEach((ingredient) => { %>
    <li>
      <%= ingredient %>
    </li>
    <% }) %>
  </ul>
  <h2>Modo de Preparo</h2>
  <p><%= recipe.instructions %> </p>
</body>

</html>
