<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Recipe Details</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('headerCook') %>

    <div class="card w-75 mx-auto">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h3 class="card-title"><%= recipe[2] %></h3>

        <p class="card-text">Enviado por <%= recipe[1].toUpperCase() %></p>
      </div>

      <div class="card-body">
        <h3 class="card-title">Ingredientes</h3>

        <p class="card-text"><%= recipe[3] %></p>
      </div>

      <div class="card-body">
        <h3 class="card-title">Modo de preparo</h3>

        <p class="card-text"><%= recipe[4] %></p>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <% if (user) { %>
        <a class="btn btn-dark" href="/recipes/<%= recipe[0] %>/edit" data-testid="editar-receita"
          >Editar Receita</a
        >
        <a
          class="btn btn-dark"
          href="/recipes/<%= recipe[0] %>/delete"
          data-testid="excluir-receita"
          >Excluir Receita</a
        >
        <% } %>
      </div>
    </div>
    <div class="d-flex justify-content-end m-3">
      <a class="btn btn-secondary" href="/">Voltar</a>
    </div>
  </body>
</html>
