<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Details</title>
  </head>
  <body>
    <%- include('header', { user }) -%>
    <div>
      <% if(user) { %>
        <div>
          <a href="/recipes/<%= recipeDetails.id %>/edit" data-testid="editar-receita">Editar Receita</a>
          <button type="button" data-testid="excluir-receita" onclick="window.location.pathname='/recipes/<%= recipeDetails.id %>/delete'">Excluir receita</button>
        </div>
        <% } %>
    </div>
    <div>
      <% if(recipeDetails) { %>
        <div>
          <h1><%= recipeDetails.name %></h1>
          <p>Enviada por: <%= recipeDetails.user  %></p>
        </div>
        <div>
          <h3>Ingredientes</h3>
          <ul>
            <li><%= recipeDetails.ingredients %></li>
          </ul>
        </div>
        <div>
          <h3>Modo de Preparo</h3>
          <p><%= recipeDetails.instructions %></p>
        </div>
        <% } %>
    </div>
  </body>
</html>
