<html lang="en">
<%- include("./partials/head.ejs") %>
</head>
<body> 
  <% if (user) {%>
    <a data-testid="editar-receita">Editar Receita</a>
    <a data-testid="excluir-receita">Excluir Receita</a>
  <% } %>
  <div> 
    <h2> <%= theRecipe.user %> </h2>
    <h2> <%= theRecipe.name %> </h2>
    <h2> <%= theRecipe.ingredients %> </h2>
    <h2> <%= theRecipe.instructions %> </h2>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>
