<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Recipe Details</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h2>Recipe Details</h2>

    <h3><%= recipe[2] %></h3>

    <h6>Enviado por <%= recipe[1].toUpperCase() %></h6>

    <h3>Ingredientes</h3>

    <p><%= recipe[3] %></p>

    <h3>Modo de preparo</h3>

    <p><%= recipe[4] %></p>

    <% if (user) { %>
    <a class="btn btn-dark" href="/recipes/<%= recipe[0] %>/edit" data-testid="editar-receita"
      >Editar Receita</a
    >
    <a class="btn btn-dark" href="/recipes/<%= recipe[0] %>/delete" data-testid="excluir-receita"
      >Excluir Receita</a
    >
    <% } %>
  </body>
</html>
