<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Recipe details</title>
  </head>
  <body>
    <%- include('header', { user }); %>
    <% console.log(recipe) %>
    <% if (user && user.id === recipe.userId) { %>
      <a href=<%= `/recipes/${recipe.id}/edit` %> data-testid="editar-receita">Editar Receita</a>
      <a href=<%= `/recipes/${recipe.id}/delete` %> data-testid="excluir-receita">Excluir Receita</a>
    <% } %>
    <h1><%= recipe.name %></h1>
    <h4>Enviada por <%= recipe.user %> </h4>
    <h2>Ingredientes</h2>
    <% recipe.ingredients.forEach((ingredient) => { %>
      <p><%= ingredient %></p>
    <% }) %>
    <h2>Modo de Preparo</h2>
    <p><%= recipe.instructions %></p>
  </body>
</html>
