<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Buscar receita</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('headerCook') %> <% if (message) {%>
    <h6 class="card text-center text-white mx-auto bg-danger m-3"><%= message %></h6>
    <% } %>

    <div class="card w-75 mx-auto m-4">
      <h3 class="m-3">Buscar Receitas</h3>

      <form action="/recipes/search" class="d-flex">
        <input
          data-testid="receita"
          placeholder="receita de ..."
          required
          class="form-control m-3"
          type="text"
          name="q"
          id="q"
        />
        <button class="btn btn-dark m-3" data-testid="buscar">Buscar</button>
      </form>
    </div>

    <div class="container">
      <div class="row justify-content-around">
        <% recipes.forEach((recipe) => { %>

        <div class="card col-5 mb-3 text-white text-center mx-auto w-50 bg-secondary">
          <h4 class="mt-1 card-title"><%= recipe.namE || recipe.name %></h4>
          <p class="card-text"><%= recipe.user %></p>
          <a class="btn btn-info w-50 mx-auto mb-2" href="/recipes/<%= recipe.id %>">Ver mais</a>
        </div>
        <% }) %>
      </div>
    </div>

    <div class="d-flex justify-content-between mt-4">
      <div>
        <% if (user) { %>

        <a class="btn btn-dark m-3" href="/recipes/new" data-testid="nova-receita">Nova Receita</a>

        <% } %>
      </div>
      <a class="btn btn-secondary m-3" href="/">Voltar</a>
    </div>
  </body>
</html>
