<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h3>Cookmaster</h3>
        <% if (user) { %>
        <p>Usuário atual: <%= `${user.name} ${user.lastName}` %></p>
        <a href='/logout'" data-testid=" logout">Logout</a>
        <%}%>
    <% if (!user) { %>
        <a href="/login" data-testid="login">Login</a>
        <% } %>
    </header>

    <form action="/recipes/search" method="GET">
        <input type="text" name="q" data-testid="receita" />
        <button type="submit" data-testid="buscar">Buscar</button>
    </form>
    <% if (recipes.length > 0) { %>
    <% recipes.forEach((recipe) => { %>
    <li> <%= recipe.name %> <%= recipe.user %>
        <a href='/recipes/<%= recipe.id %>'>Ver mais</a>
    </li>
    <% }) %>
    <% if (recipes.length === 0) { %>
    <p><%= message %></p>
    <% } %>
    <% } %>

</body>

</html>
