<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cookmaster - Details</title>
  </head>
  <body>
    <div class="navbar navbar-dark bg-primary">Cookmaster</div>
    <% if(user) { %>
    <a href="/recipes/<%= recipes.id %>/edit " data-testid="editar-receita" class="btn btn-primary"
      >Editar Receita</a
    >
    <a
      href="recipes/<%= recipes.id %>/delete "
      data-testid="excluir-receita"
      class="btn btn-primary"
      >Excluir Receita</a
    >
    <% } %>
    <div class="container">
      <div class="card">
        <div class="card-title"><h1><%= recipes.name %></h1></div>
        <hr />
        <div class="card-body">
          <h2>Ingredientes</h2>
          <% recipes.ingredients.split(',').forEach((ing) => { %>
          <p><%= ing %></p>
          <% }) %>
          <hr />
          <h2>Modo de Preparo</h2>
          <div class="card-text"><%= recipes.instructions %></div>
        </div>
      </div>
    </div>

    /* AGORA PRECISO CRIAR AS PÁGINAS DE EDIÇÃO E DELEÇÃO, TALVEZ NECESSITE CRIAR UM CONTROLLER OU
    MODEL, POIS NOS PRÓXIMOS REQUISITOS SERÁ NECESSÁRIO */
  </body>
</html>
