<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Cookmaster - Home</title>
</head>

<body>
    <header class="mb-1">
        <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <h1>Cookmaster</h1>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="m-auto text-light">
                        <% if (user) { %>
                            <span>Olá, <%= user.name %></span>
                            <% } %>
                        </li>
                        <li class="nav-item">
                            <a data-testid="buscar-receita" href="/recipes/search" class="m-2 btn btn-sm btn-primary">
                                Buscar receita
                            </a>
                        </li>
                        <% if(user) { %>
                        <li class="nav-item">
                            <a data-testid="nova-receita" class="m-2 btn btn-sm btn-primary" href="/recipes/new">
                                Nova receita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a data-testid="logout" class="m-2 btn btn-sm btn-primary" href="/logout">
                                Logout
                            </a>
                        </li>
                        <% } else { %>                    
                        <li class="nav-item">
                            <a data-testid="login" class="m-2 btn btn-sm btn-primary" href="/login">
                                Login
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="alert alert-success mb-3" role="alert">
        <div class="container">A simple success alert—check it out!</div>
    </div>
    <main>
        <div class="container">
            <h1 class="text-center mb-4"><%= recipe.name %></h1>
            <div class="col-md-10 row justify-content-center align-items-center m-auto">
                <div class="card m-auto">
                    <div class="mb-3">
                        <div class="card-header d-flex">
                            <div class="mr-5">
                                Por: <%= recipe.user %>
                            </div>
                            <% if (user) { %>
                                <% if (user.id === recipe.userId) { %>
                                    <div class="ml-auto">
                                        <a data-testid="editar-receita" class="btn btn-sm btn-primary" href=<%= `${recipe.id}/edit` %>>Editar Receita</a>
                                        <a data-testid="excluir-receita" class="btn btn-sm btn-danger" data-toggle="modal"
                                            data-target="#modalExemplo" href=<%= `${recipe.id}/delete` %>>Deletar Receita</a>
                                    </div>
                                <% } %>
                            <% } %>
                            <!-- Modal -->
                            <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmação de senha</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Fechar</button>
                                            <button type="button" class="btn btn-primary">Salvar mudanças</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-secondary">
                            <h5 class="card-title">Ingredients</h5>
                            <div class="card mb-3" style="width: 18rem;">
                                <ul class="list-group list-group-flush">
                                    <% recipe.ingredients.split(',').forEach((ingredient) => { %>
                                        <li class="list-group-item"><%= ingredient %></li>
                                    <% }) %>
                                </ul>
                            </div>
                            <h5 class="card-title">Instructions</h5>
                            <p class="card-text">
                                <%= recipe.instructions %>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <footer class="bg-dark text-center mt-5 p-3 fixed-bottom">
        <span class="text-light">Projeto desenvolvido na <a href="#" class="text-light stretched-link">Trybe</a> por <a
                href="#" class="text-light stretched-link">Leandro Marten</a></span>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>