<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>Receitas Id</title>
  </head>
  <body>
    <div>
      <h1>Cookmaster</h1>
      <% if (user) { %>
      <p class="float-right">Usuário logado: <%=user.firstName %></p>
    </div>
    <br />
    <br />
    <div class="float-right">
      <a href="/editrecipes" class="btn btn-primary" data-testid="editar-receita">
        Editar Receita
      </a>
      <a href="/remove" class="btn btn-danger" data-testid="excluir-receita">Excluir Receita</a>
    </div>
    <h2><%= userId.name%></h2>
    <p>Enviado por : <%= userId.user %></p>
    <h2>Ingredientes</h2>
    <ul class="list-group">
      <% userId.ingredients.split(',').forEach((recipe) => { %>
      <li class="list-group-item"><%= recipe %></li>
      <% }) %>
    </ul>
    <h2>Modo de preparo</h2>
    <div><%=userId.instructions %></div>
    <% }else { %>
    <p class="text-center">Usuário deslogado: off</p>
    <h2><%= userId.name%></h2>
    <p>Enviado por : <%= userId.user %></p>
    <h2>Ingredientes</h2>
    <ul>
      <% userId.ingredients.split(',').forEach((recipe) => { %>
      <li><%= recipe %></li>
      <% }) %>
    </ul>
    <h2>Modo de preparo</h2>
    <div><%=userId.instructions %></div>

    <% } %>
  </body>
</html>
