<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Cookmaster - Recipe detail</title>
  </head>
  <body>
    <div class="container">
      <h1>Receita detalhada</h1>
      <% if (user) { %>
        <% if (user.id === recipe.id) { %>
          <a class="btn btn-sm btn-primary" data-testid="editar-receita" href=<%= `${recipe.id}/edit` %>>Editar Receita</a>
          <a class="btn btn-sm btn-danger" data-testid="excluir-receita" href=<%= `${recipe.id}/delete` %>>Excluir Receita</a>
        <% } %>
      <% } %>
       <div>
        <%= recipe.name%>, <%= recipe.user %>, <%= recipe.ingredients %>, <%= recipe.instructions %>
      </div>
  </body>
</html>
